{% extends 'layouts/documentBase.layout.njk' %}

{% block toc %}
    {{ collections.apiToc | tableOfContents(page) | safe }}
{% endblock %}

{% block documentBody %}
    <article class="col-md-9 col-xxl-8 api-content-body">
        {{ content | safe }}
    </article>
{% endblock %}
