<!DOCTYPE html>
<html lang="en-US">
    <meta charset="utf-8"/>
    <title>Redirecting&hellip;</title>
    <link rel="canonical" href="{{ redirect.to | url }}"/>
    <script>
        location = '{{ redirect.to | url }}';
    </script>
    <meta http-equiv="refresh" content="0; url={{ redirect.to | url }}"/>
    <meta name="robots" content="noindex"/>
    <h1>Redirecting&hellip;</h1>
    <a href="{{ redirect.to | url }}">Click here if you are not redirected.</a>
</html>
