---
title: Community
---

{% extends "layouts/base.layout.njk" %}
{% block content %}
    <section class="container-xxl my-5">
        <h1 id="monogame-community" class="fw-bold">
            <a href="#monogame-community">MonoGame Community</a>
        </h1>
        <p>
            MonoGame has an active community across multiple social networks and channels.
        </p>
    </section>

    <section class="container-xxl mb-5">
        <h2 id="communities" class="fw-bold">
            Official Communities
        </h2>
        <div class="mg-item-grid">
            <a href="https://community.monogame.net" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                          style="background-image: url('/images/community/forums_preview.png');
                                 background-size: contain;
                                 background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-body-text"></i> MonoGame Forums</h3>
                        <p>
                            Community forums where users can share their work, ask questions, and receive community support.
                        <p>
                    </div>
                </div>
            </a>
            <a href="https://github.com/MonoGame/MonoGame/discussions" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/github_discussion_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-github"></i> GitHub Discussions</h3>
                        <p>
                            GitHub discussions where users can share their work, ask questions, and receive community support.
                        <p>
                    </div>
                </div>
            </a>
            <a href="https://discord.gg/monogame" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/discord_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-discord"></i> Discord</h3>
                    <p>
                        Community discord is a great place for live discussion, sharing user created content, and community support.
                    </p>
                    </div>
                </div>
            </a>
            <a href="https://www.reddit.com/r/monogame/" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/reddit_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-reddit"></i> Reddit</h3>
                        <p>
                            MonoGame subreddit for discussion about the framework, sharing user created content, and community support.
                        </p>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/monogamecommunity" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/facebook_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-facebook"></i> Facebook</h3>
                        <p>
                            Facebook community for discussion about MonoGame.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section class="container-xxl mb-5">
        <h2 id="communities" class="fw-bold">
            Official Social Networks
        </h2>
     <div class="mg-item-grid">
            <a href="https://twitter.com/MonoGameTeam" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/twitter_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-twitter"></i> Twitter</h3>
                        <p>
                            See recent news and shared posts from the community.
                        <p>
                    </div>
                </div>
            </a>
            <a href="https://www.youtube.com/MonoGame" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/community/youtube_preview.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-youtube"></i> YouTube</h3>
                    <p>
                        Official YouTube channel with MonoGame videos and tutorials.
                    </p>
                    </div>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
