---
title: Create
---

{% extends "layouts/base.layout.njk" %}
{% block content %}
    <section class="container-xxl my-5">
        <h1 id="monogame-create" class="fw-bold">
            <a href="#monogame-create">Create</a>
        </h1>
        <p>
            Whether you are new to game development or a seasoned coder exploring new territory, MonoGame offers a powerful, flexible framework to bring your ideas to life. This page showcases a hand-picked selection of Starter Kits and demos designed to help you dive right in, experiment with core concepts, and build momentum on your development journey.
        </p>
    </section>

    <section class="container-xxl my-5">
        <h1 id="monogame-getstarted" class="fw-bold">
            Code First Templates
            <p/><p/>
        </h1>    
        <p>
        MonoGame is fully integrated into Visual Studio, VSCode and other popular editors, including using DotNet direct from the command-line.  These include templates for all of MonoGame's supported platforms.
        </p>
        <p>
        For more details on how to get started through code, checkout our <a href="https://docs.monogame.net/articles/tutorials/index.html">Tutorials Section</a> for a comprehensive list of 2D, 3D Starter guides.
        </p>
    </section>    

    <section class="container-xxl mb-5">
        <h1 id="starterkits" class="fw-bold">
            Starter kits
            <p/><p/>
        </h1>
        <p>
        Quickly set up your first game project with kits tailored to classic genres like platformers, top-down shooters, and puzzle games. Each kit includes pre-built scenes, input handling, basic physics, and asset loading.
        <p/>
        <h4> More Starter Kits coming soon to a MonoGame near you</h4><br/>
        <div class="mg-item-grid">
            <a href="https://github.com/MonoGame/MonoGame.Samples/blob/3.8.4/Platformer2D/README.md" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                          style="background-image: url('/images/create/Platformer2D-Sample.png');
                                 background-size: contain;
                                 background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-files"></i> 2D Platformer Starter Kit</h3>
                        <p>
                            A complete 2D starter kit based on the original XNA sample, extended for MonoGame.
                        <p>
                    </div>
                </div>
            </a>
            <a href="/blog/2025-07-16-3d-starter-kit" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/create/3dscreenshot.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-files"></i> 3D Platformer Starter Kit</h3>
                        <p>
                            A complete 3D Platformer starter kit featuring Kenny's assets.
                        <p>
                    </div>
                </div>
            </a>
         </div>
    </section>
    <section class="container-xxl mb-5">
        <h1 id="demos" class="fw-bold">
            Demos
            <p/><p/>
        </h1>
        <p>
        Explore bite-sized samples demonstrating key MonoGame features—from sprite batching and input systems to custom shaders and particle effects. These are perfect for learning-by-doing and dissecting efficient design.
        <p/>        
        <h4> More Demos coming soon to a MonoGame near you</h4><br/>
     <div class="mg-item-grid">
            <a href="https://twitter.com/MonoGameTeam" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/blog/Ascent.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-rocket-takeoff-fill"></i> Ascent Demo</h3>
                        <p>
                            The Ascent demo is the ultimate 3D space ship based shooter demo, coming soon.
                        <p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section class="container-xxl mb-5">
        <h1 id="resources" class="fw-bold">
            Resources
            <p/><p/>
        </h1>
        <p>
        Links to loads of resources and community efforts to help developers make the most of MonoGame.
        <p/>        
     <div class="mg-item-grid">
            <a href="/showcase" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/create/MonoGame.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-collection-play-fill"></i> Community Resources</h3>
                        <p>
                            A list of MonoGame resources that can help you on your journey. If you have a resource you would like to share, then let us know.
                        <p>
                    </div>
                </div>
            </a>
            <a href="https://github.com/MonoGame/MonoGame.samples" class="mg-no-link hide-external-icon">
                <div class="mg-card mg-box-shadow d-flex flex-column">
                    <div class="mg-card-thumbnail"
                         style="background-image: url('/images/create/MonoGame.png');
                                background-size: contain;
                                background-position: top;"></div>
                    <div class="mg-card-body">
                        <h3 class="mg-card-title"><i class="bi bi-collection-fill"></i> MonoGame Samples</h3>
                    <p>
                        Check out the MonoGame samples collection, showcasing some awesome community projects made with MonoGame..
                    </p>
                    </div>
                </div>
            </a>
        </div>
    </section>    
{% endblock %}
