---
title: Resources
pagination:
    data: collections.resourceTags
    size: 1
    alias: category
permalink: resources/{{ (category | slugify) if category !== "all" }}/
---
{% extends "layouts/base.layout.njk" %}
{% from 'macros/create_category_filter.njk' import create_category_filter %}

{% block content %}
    <section class="container-xxl my-5">
        <h1 id="monogame-resource" class="fw-bold"><a href="#monogame-resource">MonoGame Resources</a></h1>
        <p>
            Here's a list of MonoGame resources that can help you on your journey.
            If you have a resource you'd like to share, please <a href="mailto:biz@monogame.net?subject=New%20Resource&body=Hi,%20Please%20add%20this%20resource%20to%20your%20list:%0A%0ATitle:%20%0AAuthor:%20%0AResource%20URL:%20%0AImage%20URL:%20%0ATags:%20">
   Email Us
</a>
        </p>
    </section>

    {{ create_category_filter(collections.resourceTags, "/resources/", page.url) }}

    <section class="container-xxl mb-5">
        <div id="resource-gallery" class="mg-item-grid">
            {% for resource in resources %}
                {% if category in resource.tags or category === "all" %}
                    <a class="mg-no-link hide-external-icon resource-item" href="{{ resource.url }}" title="{{ resource.title }}">
                        <div class="mg-card mg-box-shadow d-flex flex-column">
                            <div class="mg-card-title">{{ resource.title }}</div>
                            <div class="mg-card-thumbnail"
                                 style="background-image: url('{{ resource.cover }}');">
                            </div>
                            by {{ resource.author }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}