###############################################################################
### Visual Studio and Visual Studio Code directories
###############################################################################
.vs
.vscode

###############################################################################
### 11ty output directory
###############################################################################
_site/

###############################################################################
### Node Modules
###############################################################################
node_modules/

###############################################################################
### All files inside the /documentation/api directory except for the index.md
### DocFx will generate .yml files in this directory as part of the build
### process and they should not be committed to the.
###############################################################################
/documentation/api/*
!/documentation/api/index.md


###############################################################################
### OS Specific
###############################################################################
.DS_Store
[Tt]humbs.db
