---
title: Documentation
---

{% extends "layouts/base.layout.njk" %}

{% block content %}
    <section class="container-xxl my-5">
        <h1 id="monogame-documentation" class="fw-bold"><a href="#monogame-documentation">MonoGame Documentation</a></h1>
        <p>
            Whether you're just starting out with MonoGame or you've been using it for years, you can find all documentation and
            tutorials here.
        </p>
    </section>
    <section class="container-xxl mb-5">
        <div class="row">
            <div class="col-12 col-lg-4 mb-5">
                <div class="mg-card mg-box-shadow h-100">
                    <a target="_self"
                       href="/articles/"
                       class="mg-no-link">
                       <div class="mg-card-body d-flex flex-column h-100">
                            <div class="mg-card-title"><i class="bi bi-files"></i> Documentation Hub</div>
                            <p>
                                The official MonoGame documentation hub. This documentation helps you get started by providing overviews of key features
                                and tools.
                            </p>
                            <p class="mt-auto">Click to view documentation</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <div class="mg-card mg-box-shadow h-100">
                    <a target="_self"
                       href="/api/"
                       class="mg-no-link">
                        <div class="mg-card-body d-flex flex-column h-100">
                            <div class="mg-card-title"><i class="bi bi-filetype-cs"></i> API Reference</div>
                            <p>
                                View the API reference for each classs and method in the MonoGame framework.
                            </p>
                            <p class="mt-auto">Click to view API Reference</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <div class="mg-card mg-box-shadow h-100">
                    <a target="_self"
                       href="/articles/tutorials/"
                       class="mg-no-link">
                        <div class="mg-card-body d-flex flex-column h-100">
                            <div class="mg-card-title"><i class="bi bi-lightbulb"></i> Tutorials</div>
                            <p>
                                Check out the awesome works of the larger MonoGame community with their
                                own tutorials, blogs and videos.
                            </p>
                            <p class="mt-auto">Click to view tutorials</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-xxl mb-5">
        <h1 id="we-need-your-help" class="fw-bold"><a href="#we-need-your-help">We Need Your Help</a></h1>
        <p>
            MonoGame is an open-source project maintained by its community. Great open source projects require
            high-quality documentation. This is a call for volunteers to continue to help us make the MonoGame
            documentation truly great. If you can create tutorials, feature guides, code snippets, reference docs,
            video walkthroughs, or make any improvement to the current documentation, we could use your help!
        </p>
        <p>
            Check out the <a href="https://github.com/MonoGame/MonoGame/blob/develop/README.md">README on GitHub</a> or
            <a href="http://community.monogame.net/t/lets-improve-the-monogame-documentation/916">talk with us on the
            community site</a> to learn how to help! For a quick start, you can jump on this
            <a href="https://github.com/MonoGame/MonoGame/projects/4">list of documentation tasks.</a>
        </p>
    </section>
{% endblock %}
