---
title: Donate
---
{% extends "layouts/base.layout.njk" %}

{% block content %}
    <section class="container-xxl my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 mb-5">
                    <h1 id="support-monogame" class="fw-bold"><a href="#support-monogame">Support MonoGame</a></h1>
                    <p>MonoGame is an open-source answer to expensive, restrictive game engines.  It is free to use on ALL platforms, even on game consoles.  This was achieved by the generous donation of code by hundreds of independent developers over the last 15 years.</p>
<p>To ensure MonoGame continues to thrive into the future the non-profit MonoGame Foundation needs your support.  Your donations help us keep pace with advancing technology and new platforms, ensuring MonoGame remains a powerful tool for all game developers.</p>
<p>If your time using MonoGame has been enjoyable, educational, or it helped create your successful game, consider giving back to the project.  Your contributions ensure a future where game development is accessible to everyone.</p>
<p>Donate now and be a part of this exciting journey.</p>
                    <a class="btn mg-patreon-button" type="button" href="https://www.patreon.com/bePatron?u=3142012" target="_blank">
                        {% include 'svgs/logos/patreon.svg'%}
                        Become a member!
                    </a>
                </div>
                <div class="col-md-5 patreon-stats">
                    <div class="patreon-stat monthly">
                        <span id="per-month"></span>
                        <p>monthly</p>
                    </div>
                    <div class="patreon-stat patreon">
                        <span id="total-patrons"></span>
                        <p>patrons</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-xxl mb-5">
        <h1 id="sponsors" class="fw-bold"><a href="#sponsors">MonoGame Is Sponsored By</a></h1>
        <div class="row">
            {% for sponsor in sponsors %}
                <div class="col-lg-6 mb-5">
                    <a class="hide-external-icon" href="{{sponsor.url}}" title="{{sponsor.name}}">
                        <img src="/images/donate/Re-Logic_Logo_with_BG.jpg" style="width: 100%; height: auto;" alt="{{sponsor.name}}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-xxl mb-5">
        <h1 id="donations" class="fw-bold"><a href="#donations">Donations</a></h1>
        <p>
            The following is a preserved list of individuals and studios that generiously donated in the past to help run the project.
        </p>
        <div class="row">
            {% for donor in donations | sort(true, false, 'amount') %}
                <div class="col-lg-3 mb-3 text-center">
                    {% if donor.url %}<a href="{{donor.url}}">{% endif %}
                        <strong>{{donor.name}}</strong>
                    {% if donor.url %}</a>{% endif %}
                    <br />
                    {{ (donor.amount / 100).toLocaleString('en-US', {style: 'currency', currency: 'USD'}) }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script async type="text/javascript" src="/js/patreon.js"></script>
{% endblock %}
