---
title: Presskit
layout: layouts/article.layout.njk
hidetoc: true
---

{% block content %}
    <div class="presskit">
    <section class="container-xxl my-5">
        <div class="mg-logo"></div>
    </section>

    <section class="container-xxl mb-5">
        <div class="row g-5">
            <div class="col-lg-3">
                <h2 id="factsheet"><a href="#factsheet">Fact Sheet</a></h2>
                <p>
                    <strong>Foundation:</strong> <br />
                    <a href="/about/">The MonoGame Foundation</a>
                </p>
                <p>
                    <strong>Foundation Date:</strong><br/>
                    September 29th, 2023
                </p>
                <p>
                    <strong>Website:</strong><br/>
                    <a target="_blank" href="https://monogame.net">https://monogame.net</a>
                </p>
                <p>
                    <strong>Supported Platforms</strong></br>
                    Windows<br/>
                    Mac<br/>
                    Linux<br/>
                    iOS<br/>
                    iPadOS<br/>
                    Android<br/>
                    Xbox<br/>
                    PlayStation 4<br/>
                    PlayStation 5<br/>
                    Nintendo Switch<br/>
                </p>
            </div>
            <div class="col-lg-9">
                <h2 id="description"><a href="#description">Description</a></h2>
                <p>
                    <span class="fw-bold">MonoGame</span> is an open source implementation of the Microsoft XNA 4.0 Framework.
                    It is a "bring your own tools" kind of framework.  This means it provides you with the building blocks
                    to build your own engine and tools, but isn't quite an engine itself.
                </p>
                <p>
                    If you love coding and understanding how things work under the hood, <span class="fw-bold">MonoGame</span>
                    might be what you are looking for.
                <p>

                <h2 id="history"><a href="#history">History</a></h2>
                <p>
                    In 2009 José Antonio Leal de Farias, an active member of the XNA community, started an open source
                    project called XNA Touch with the goal of porting simple 2D XNA games to mobile devices.
                    He started from Bill Reiss's
                    <a target="_blank" href="https://web.archive.org/web/20090317075046/http://silversprite.codeplex.com:80/">SilverSprite</a>
                    and some bits of <a target="_blank" href="https://code.google.com/archive/p/monoxna/">Mono.XNA</a> and
                    in December 2009 the first release which only supported iPhone was posted on
                    <a target="_blank" href="https://web.archive.org/web/20110323171243/https://monogame.codeplex.com/releases/view/36738">
                        Codeplex.
                    </a>
                </p>
                <p>
                    Over 2010 several iPhone games appeared on the Apple App Store which used XNA Touch.
                </p>
                <p>
                    In March 2011 the project was renamed MonoGame and was moved to GitHub.  That same year support for
                    Android, Mac, Linux, and OpenGL on Windows appeared.  <a target="_blank" href="https://github.com/CartBlanche">Dominique Louis</a>
                    who joined the project in 2009 took over as the full time project lead.
                </p>
                <p>
                    Early 2012 saw the addition of the DirectX 11 backend and support for Windows 8 providing the first
                    and currently only way to port XNA games to the Windows Store.  This subsequently spawned support
                    for Windows Phone 8 and a new Windows desktop platform.  This same year MonoGame team was invited to
                    speak at Microsoft's //Build 2012 event.
                </p>
                <p>
                    Microsoft Studios published several titles using MonoGame in 2013 on Windows 8 and Windows Phone 8.
                    2013 also saw the announcement of the first MonoGame titles coming to PlayStation 4 including
                    <a target="_blank" href="http://www.towerfall-game.com/">TowerFall Ascension</a>,
                    <a target="_blank" href="https://www.supergiantgames.com/games/transistor">Transistor</a>, and
                    <a target="_blank" href="http://mercenarykings.com/">Mercenary Kings</a>.
                </p>
                    In early 2014 stewardship of the MonoGame project was handed off to
                    <a target="_blank" href="https://github.com/TomSpilman">Tom Spilman</a> and
                    <a target="_blank" href="https://github.com/KonajuGames">Steve Williams</a>
                </p>
                <p>
                    On September 29th, 2023, the <span class="fw-bold">MonoGame Foundation</a> was established to direct
                    the future of the project.
                </p>
            </div>
        </div>
        <hr />
    </section>

    <section class="container-xxl mb-5">
        <h2 id="videos"><a href="#videos">Videos</a></h2>
        <p>
            <strong>MonoGame Showcase 2015 - MonoGame</strong> <a target="_blank" href="https://www.youtube.com/watch?v=i8h5u5BgoJY">YouTube</a> <br/>
            <div class="mg-responsive-iframe">
                <iframe src="https://www.youtube.com/embed/i8h5u5BgoJY?si=_qY--LRNkDa8JU9f" frameborder="0" allowfullscreen></iframe>
            </div>
        </p>
        <p>
            <strong>Building Games with MonoGame - Microsoft Developer</strong> <a target="_blank" href="https://www.youtube.com/watch?v=MZ_pKEdaIjc">YouTube</a> <br/>
            <div class="mg-responsive-iframe">
                <iframe src="https://www.youtube.com/embed/MZ_pKEdaIjc?si=OYkcMSM31YBT0xG9" frameborder="0" allowfullscreen></iframe>
            </div>
        </p>
        <hr />
    </section>

    <section class="container-xxl mb-5">
        <h2 id="logo-and-icons"><a href="#logos-and-icons">Logos & Icons</a></h2>
        <p>
            Please refer to the <a href="https://github.com/MonoGame/MonoGame.Logo">MonoGame Logos and Branding</a> repository for information on logo and branding usage.
        </p>

        <div class="alert alert-info admonition">
            <a target="_blank" href="https://github.com/MonoGame/MonoGame.Logo/archive/refs/tags/Original.zip">
                Download logo files as .zip
            </a>
        </div>

        <hr />
    </section>

    <section class="container-xxl mb-5">
        <div class="row">
            <div class="col-lg-4">
                <h2 id="foundation"><a href="#foundation">MonoGame Foundation</a></h2>
                {% for member in foundation %}
                    <p>
                        <strong>{{ member.name }}</strong></br>
                        {{ member.title }}
                    </p>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <h2 id="social"><a href="#social">Socials</a></h2>
                <p>
                    <strong>Twitter</strong><br/>
                    <a target="_blank" href="https://twitter.com/monogameteam">twitter.com/monogameteam</a>
                </p>
                <p>
                    <strong>Reddit</strong><br/>
                    <a target="_blank" href="https://www.reddit.com/r/monogame/">reddit.com/r/monogame/</a>
                </p>
                <p>
                    <strong>Facebook</strong><br/>
                    <a target="_blank" href="https://www.facebook.com/monogamecommunity">facebook.com/monogamecommunity</a>
                </p>
                <p>
                    <strong>YouTube</strong><br/>
                    <a target="_blank" href="https://www.youtube.com/MonoGame">youtube.com/MonoGame</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h2 id="contact"><a href="#contact">Contact</a></h2>
                <p>
                    <strong>Business</strong><br/>
                    <a href="mailto:biz@monogame.net">biz@monogame.net</a>
                </p>
                <p>
                    <strong>Press</strong><br/>
                    <a href="mailto:press@monogame.net">press@monogame.net</a>
                </p>
                <p>
                    <strong>Administrator</strong><br/>
                    <a href="mailto:admin@monogame.net">admin@monogame.net</a>
                </p>
            </div>
        </div>
    </section>


    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
