---
title: Presskit
layout: layouts/article.layout.njk
hidetoc: true
---

{% block content %}
    <div class="presskit">
    <section class="container-xxl my-5">
        <div class="mg-logo"></div>
    </section>

    <section class="container-xxl my-5">
        <div class="row g-5">
            <div class="col-lg-3">
                <h2 id="factsheet" class="text-uppercase"><a href="#factsheet">Fact Sheet</a></h2>
                <p>
                    <strong>Foundation:</strong> <br />
                    <a target="_blank" href="https://monogame.com/about/">The MonoGame Foundation</a> <br />
                    Based in Texas, USA
                </p>
                <p>
                    <strong>Foundation Date:</strong><br/>
                    September 29th, 2023
                </p>
                <p>
                    <strong>Website:</strong><br/>
                    <a target="_blank" href="https://monogame.net">https://monogame.net</a>
                </p>
                <p>
                    <strong>Supported Platforms</strong></br>
                    Windows<br/>
                    Mac<br/>
                    Linux<br/>
                    iOS<br/>
                    iPadOS<br/>
                    Android<br/>
                    Xbox<br/>
                    PlayStation 4<br/>
                    PlayStation 5<br/>
                    Nintendo Switch<br/>
                </p>
            </div>
            <div class="col-lg-9">
                <h2 id="description" class="text-uppercase"><a href="#description">Description</a></h2>
                <p>
                    <span class="fw-bold">MonoGame</span> is an open source implementation of the Microsoft XNA 4.0 Framework.
                    It is a "bring your own tools" kind of framework.  This means it provides you with the building blocks
                    to build your own engine and tools, but isn't quite an engine itself. 
                </p>
                <p>
                    If you love coding and understanding how things work under the hood, <span class="fw-bold">MonoGame</span>
                    might be what you are looking for.
                <p>

                <h2 id="history" class="text-uppercase"><a href="#history">History</a></h2>
                <p>
                    In 2009 José Antonio Leal de Farias, an active member of the XNA community, started an open source 
                    project called XNA Touch with the goal of porting simple 2D XNA games to mobile devices.  
                    He started from Bill Reiss's 
                    <a target="_blank" href="https://web.archive.org/web/20090317075046/http://silversprite.codeplex.com:80/">SilverSprite</a> 
                    and some bits of <a target="_blank" href="https://code.google.com/archive/p/monoxna/">Mono.XNA</a> and 
                    in December 2009 the first release which only supported iPhone was posted on 
                    <a target="_blank" href="https://web.archive.org/web/20110323171243/https://monogame.codeplex.com/releases/view/36738">
                        Codeplex.
                    </a>
                </p>
                <p>
                    Over 2010 several iPhone games appeared on the Apple App Store which used XNA Touch.
                </p>
                <p>
                    In March 2011 the project was renamed MonoGame and was moved to GitHub.  That same year support for 
                    Android, Mac, Linux, and OpenGL on Windows appeared.  <a target="_blank" href="https://github.com/CartBlanche">Dominique Louis</a> 
                    who joined the project in 2009 took over as the full time project lead.
                </p>
                <p>
                    Early 2012 saw the addition of the DirectX 11 backend and support for Windows 8 providing the first
                    and currently only way to port XNA games to the Windows Store.  This subsequently spawned support 
                    for Windows Phone 8 and a new Windows desktop platform.  This same year MonoGame team was invited to
                    speak at Microsoft's //Build 2012 event.
                </p>
                <p>
                    Microsoft Studios published several titles using MonoGame in 2013 on Windows 8 and Windows Phone 8. 
                    2013 also saw the announcement of the first MonoGame titles coming to PlayStation 4 including 
                    <a target="_blank" href="http://www.towerfall-game.com/">TowerFall Ascension</a>, 
                    <a target="_blank" href="https://www.supergiantgames.com/games/transistor">Transistor</a>, and 
                    <a target="_blank" href="http://mercenarykings.com/">Mercenary Kings</a>.
                </p>
                    In early 2014 stewardship of the MonoGame project was handed off to
                    <a target="_blank" href="https://github.com/TomSpilman">Tom Spilman</a> and 
                    <a target="_blank" href="https://github.com/KonajuGames">Steve Williams</a>
                </p>
                <p>
                    On September 29th, 2023, the <span class="fw-bold">MonoGame Foundation</a> was established to direct
                    the future of the project.
                </p>
            </div>
        </div>
        <hr />
    </section>

    <section class="container-xxl my-5">
        <h2 id="videos" class="text-uppercase"><a href="#videos">Videos</a></h2>
        <p>
            <strong>MonoGame Showcase 2015 - MonoGame</strong> <a target="_blank" href="https://www.youtube.com/watch?v=i8h5u5BgoJY">YouTube</a> <br/>
            <div class="mg-responsive-iframe">
                <iframe src="https://www.youtube.com/embed/i8h5u5BgoJY?si=_qY--LRNkDa8JU9f" frameborder="0" allowfullscreen></iframe>
            </div>
        </p>
        <p>
            <strong>Building Games with MonoGame - Microsoft Developer</strong> <a target="_blank" href="https://www.youtube.com/watch?v=MZ_pKEdaIjc">YouTube</a> <br/>
            <div class="mg-responsive-iframe">
                <iframe src="https://www.youtube.com/embed/MZ_pKEdaIjc?si=OYkcMSM31YBT0xG9" frameborder="0" allowfullscreen></iframe>
            </div>
        </p>
        <hr /> 
    </section>

    <section class="container-xxl my-5">
        <h2 id="logo-and-icons" class="text-uppercase"><a href="#logos-and-icons">Logos & Icons</a></h2>
        <p>
           The MonoGame logo is a <a target="_blank" href="https://trademarks.justia.com/864/56/monogame-86456908.html">registered trademark</a>
           and is a brand for official MonoGame projects and content. The MonoGame logo is not part of the Ms-PL license of the MonoGame project itself. 
        </p>
        <p>
            Please refer to the following guidelines when using the MonoGame logos:
            <ol>
                <li>The MonoGame logo can be used to link to the MonoGame project and credit MonoGame in your own works.</li>
                <li>
                    The MonoGame logo can be used only as a secondary brand in your own works, meaning the average viewer 
                    should know that this is not a MonoGame website, project, or publication. In short, don't use the 
                    MonoGame logo as your own logo.
                </li>
                <li>
                    The MonoGame logo can be printed on promotional products, such as t-shirts, as long as it's a 
                    secondary brand as described in point 2.
                </li>
                <li>
                    The MonoGame logo of your choice must be used <span class="fw-bold">unaltered and in original colors and typography.</span>
                </li>
                <li>
                    The MonoGame logo cannot be used on commercial products without explicit permission of the MonoGame team. 
                    Displaying the logo in your game credits is not considered commercial use.
                </li>
            </ol>
        </p>

        <h3 class="text-uppercase">Logo & Logotype</h3>
        <p>
            <ul>
                <li>The "MONO" is Proxima Nova Regular.</li>
                <li>The "GAME" is Proxima Nova Bold.</li>
                <li>The "MONO" is normally colored #393939 or #ffffff.</li>
                <li>The "GAME" and logo symbol are normally colored #e73c00.</li>
            </ul>
        </p>
        
        
        <div class="alert alert-info admonition">
            <a target="_blank" href="https://github.com/MonoGame/MonoGame.Logo/archive/refs/tags/Original.zip">
                Download logo files as .zip
            </a>
        </div>

        <p>
            When possible, it is best to use the SVG logos instead of the PNG.
        </p>
        <p>
            <strong>Horizontal Logo</strong>
            <ul>
                <li>
                    <strong>Full Color</strong> (For dark backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-dark/HorizontalLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-dark/HorizontalLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-dark/HorizontalLogo_2048px.png">
                        <img src="/images/presskit/full-color-dark/HorizontalLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Full Color</strong> (For light backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-light/HorizontalLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-light/HorizontalLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-light/HorizontalLogo_2048px.png">
                        <img src="/images/presskit/full-color-light/HorizontalLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
            </ul>
        </p>

        <p>
            <strong>Vertical Logo</strong>
            <ul>
                <li>
                    <strong>Full Color</strong> (For dark backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-dark/VerticalLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-dark/VerticalLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-dark/VerticalLogo_2048px.png">
                        <img src="/images/presskit/full-color-dark/VerticalLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Full Color</strong> (For light backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-light/VerticalLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-light/VerticalLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-light/VerticalLogo_2048px.png">
                        <img src="/images/presskit/full-color-light/VerticalLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
            </ul>
        </p>

        <p>
            <strong>Square Logo</strong>
            <ul>
                <li>
                    <strong>Full Color</strong> (For dark backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-dark/SquareLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-dark/SquareLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-dark/SquareLogo_2048px.png">
                        <img src="/images/presskit/full-color-dark/SquareLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Full Color</strong> (For light backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-light/SquareLogo.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-light/SquareLogo_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-light/SquareLogo_2048px.png">
                        <img src="/images/presskit/full-color-light/SquareLogo.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
            </ul>
        </p>

        <p>
            <strong>Logo Only</strong>
            <ul>
                <li>
                    <strong>Full Color</strong> (For dark and light backgrounds)
                    <a target="_blank" href="/images/presskit/full-color-light/LogoOnly.svg">SVG</a>, 
                    <a target="_blank" href="/images/presskit/full-color-light/LogoOnly_2048px.png">PNG<br/><br/>
                    <a class="logo" target="_blank" href="/images/presskit/full-color-light/LogoOnly_2048px.png">
                        <img src="/images/presskit/full-color-light/LogoOnly.svg" loading="lazy"/>
                    </a>
                    <br />
                    <br />
                </li>
            </ul>
        </p>
        <hr />      
    </section>

    <section class="container-xxl my-5">
        <div class="row">
            <div class="col-lg-4">
                <h2 id="foundation" class="text-uppercase"><a href="#foundation">MonoGame Foundation</a></h2>
                <p>
                    <strong>Dean Ellis</strong><br/>
                    President
                </p>
                <p>
                    <strong>Marko Jeremic</strong><br/>
                    Board Chairman
                </p>
                <p>
                    <strong>Dominique Louis</strong><br/>
                    Treasurer
                </p>
                <p>
                    <strong>Simon Jackson</strong><br/>
                    Corporate Secretary
                </p>
                <p>
                    <strong>Tom Spilman</strong><br/>
                    Banking Matters
                </p>
                <p>
                    <strong>Thomas Altenburger</strong><br/>
                    Board Member
                </p>
            </div>
            <div class="col-lg-4">
                <h2 id="social" class="text-uppercase"><a href="#social">Socials</a></h2>
                <p>
                    <strong>Twitter</strong><br/>
                    <a target="_blank" href="https://twitter.com/monogameteam">twitter.com/monogameteam</a>
                </p>
                <p>
                    <strong>Reddit</strong><br/>
                    <a target="_blank" href="https://www.reddit.com/r/monogame/">reddit.com/r/monogame/</a>
                </p>
                <p>
                    <strong>Facebook</strong><br/>
                    <a target="_blank" href="https://www.facebook.com/monogamecommunity">facebook.com/monogamecommunity</a>
                </p>
                <p>
                    <strong>YouTube</strong><br/>
                    <a target="_blank" href="https://www.youtube.com/MonoGame">youtube.com/MonoGame</a>
                </p>                
            </div>
            <div class="col-lg-4">
                <h2 id="contact" class="text-uppercase"><a href="#contact">Contact</a></h2>
                <p>
                    <strong>Business</strong><br/>
                    <a href="mailto:biz@monogame.net">biz@monogame.net</a>
                </p>
                <p>
                    <strong>Press</strong><br/>
                    <a href="mailto:press@monogame.net">press@monogame.net</a>
                </p>
                <p>
                    <strong>Administrator</strong><br/>
                    <a href="mailto:admin@monogame.net">admin@monogame.net</a>
                </p>
            </div>
        </div>
    </section>


    </div>    
{% endblock %}

{% block scripts %}

{% endblock %}
