<nav class="navbar navbar-expand-lg bg-body shadow sticky-md-top" aria-label="Navigation Bar">
    <div class="container-xl">
        <a class="navbar-brand" href="/" title="Return to Home">
            <img class="mg-logo svg" style="height: 36px; display: inline-block;" alt="MonoGame Logo">
        </a>
        <button
            class="btn btn-lg d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#topNavBar"
            aria-controls="topNavBar"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for navlink in site.navigation %}
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if page.url === navlink.url }}" href="{{ navlink.url }}">
                            {{ navlink.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn mg-button mg-donate-button">
                Donate
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="pulse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
            </a>
            {% include 'partials/_themeToggle.njk' %}
        </div>
    </div>
</nav>
