:root {
  --mg-orange-dark: #E73C00;
  --mg-orange-light: #D55F36;
  
  --mg-orange-primary: var(--mg-orange-dark);
  --mg-orange-secondary: var(--mg-orange-light);

  --mg-button-background: var(--mg-orange-primary);
  --mg-hover: var(--mg-orange-secondary);
  --mg-logo: url('/images/monogame_title_light.svg');

  --windows-logo: url('/images/logos/windows_logo_light.svg');
  --apple-logo: url('/images/logos/apple_logo_light.svg');
  --linux-logo: url('/images/logos/linux_logo_light.svg');
  --android-logo: url('/images/logos/android_logo_light.svg');
  --ios-logo: url('/images/logos/ios_logo_light.svg');
  --playstation-logo: url('/images/logos/playstation_logo_light.svg');
  --xbox-one-logo: url('/images/logos/xbox_one_logo_light.svg');
  --switch-logo: url('/images/logos/switch_logo_light.svg');
  --github-logo: url('/images/logos/github_logo_light.svg');
  --discord-logo: url('/images/logos/discord_logo_light.svg');
  --forums-logo: url('/images/logos/forums_logo_light.svg');
}


[data-bs-theme="dark"]
{
  --mg-orange-primary: var(--mg-orange-light);
  --mg-orange-secondary: var(--mg-orange-dark);
  --mg-logo: url('/images/monogame_title_dark.svg');

  --windows-logo: url('/images/logos/windows_logo_dark.svg');
  --apple-logo: url('/images/logos/apple_logo_dark.svg');
  --linux-logo: url('/images/logos/linux_logo_dark.svg');
  --android-logo: url('/images/logos/android_logo_dark.svg');
  --ios-logo: url('/images/logos/ios_logo_dark.svg');
  --playstation-logo: url('/images/logos/playstation_logo_dark.svg');
  --xbox-one-logo: url('/images/logos/xbox_one_logo_dark.svg');
  --switch-logo: url('/images/logos/switch_logo_dark.svg');  
  --github-logo: url('/images/logos/github_logo_dark.svg');
  --discord-logo: url('/images/logos/discord_logo_dark.svg');
  --forums-logo: url('/images/logos/forums_logo_dark.svg');
}


.color-monogame {
  color: var(--mg-orange-primary);
}


#logo {
	height: 36px;
	content: var(--mg-logo);
}

#windows-logo { content: var(--windows-logo); }
#apple-logo { content: var(--apple-logo); }
#linux-logo { content: var(--linux-logo); }
#android-logo { content: var(--android-logo); }
#ios-logo { content: var(--ios-logo); }
#playstation-logo { content: var(--playstation-logo); }
#xbox-one-logo { content: var(--xbox-one-logo); }
#switch-logo { content: var(--switch-logo); }
#github-logo { content: var(--github-logo); }
#discord-logo { content: var(--discord-logo); }
#forums-logo { content: var(--forums-logo); }

.cross-platform-logo {
  width: 75px;
  height: auto;
  margin-bottom: 1rem;
}

.featurette-image {
  width: auto;
  height: 350px;
  margin-bottom: 1rem;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  overflow: hidden;
  z-index: 1;
  min-height: 800px;
}

#hero-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--bs-body-bg);
  will-change: transform;
  z-index: -1;
  opacity: 0.5;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-button-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.hero-button-container a {
  line-height: 1.5;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  border-radius: 5px;
  background-color: var(--mg-orange-primary);
  color: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
}

.hero-credits {
  position: absolute;
  bottom: 15px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  text-align: center;
	color: white;
	font-size: 3.2em;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px rgba(0,0,0,1);
	width: 100%;
}

.post-statistics {
  padding-right: 25%;
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--mg-orange-primary);
}

.btn-monogame {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--mg-orange-primary);
  --bs-btn-hover-bg: var(--mg-orange-secondary);
  --bs-border-color: var(--mg-orange-primary);
}

.border-monogame {
  border-color: var(--mg-orange-primary);
}

a {
  color: var(--mg-orange-primary);
}
a:hover {
  color: var(--mg-orange-secondary);
}


article h1 
{
  font-size: 40px;
}

article h2
{
    margin-top: 1.2em;
    margin-bottom: 0.4em;
}

.container-xxl 
{
	width: 95%;
	max-width: 1152px;
}

.wrap-container
{
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-center
{
  text-align: center;
}

main
{
	margin-top: 1rem;
}

.mg_borderless table,td
{
	border-width: 0px;
	border-style: hidden;
}

.showcase-feature
{
  float:left;
  width: 25%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bs-body-bg);
}

.showcase-feature img
{
  width: 100%;
}

.showcase-feature h4 
{
  margin-top: 0.9em;
}

.showcase-link-image
{
  width:333px;
  height:187px;
  margin:7px;
  overflow:hidden;
  background-size:cover;
}

.footer-link {
  text-decoration: none;
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
#timeline div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #C5C5C5;
}
#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  pointer-events: none;
}
#timeline h3:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #C5C5C5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 54px;
  top: 6px;
  z-index: 2;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}
#timeline section.year section {
  position: relative;
  padding-bottom: 0em;
  margin-top: -1.3em;
  margin-bottom: 2em;
}
#timeline section.year section h4 {
  position: relative;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 89px;
  color: #C5C5C5;
  pointer-events: none;
}
@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}
#timeline section.year section ul {
  padding: 0 0 0 75px;
  max-width: 64rem;
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
#timeline section.year section ul:last-child {
  margin-bottom: 0;
}

#timeline section.year section ul li {
  list-style-type: none;
  margin-left: 0.5rem;
}
#timeline section.year section ul li:before {
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}
#timeline section.year section ul li:not(:first-child) {
  margin-top: 0.5rem;
}
#timeline section.year section ul li span.price {
  color: mediumturquoise;
  font-weight: 500;
}

.block-features
{
  display: grid;
}

.block-feature
{
  float:left;
  width: 30%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.block-feature h3
{
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  white-space: nowrap;
  pointer-events: none;
}

.block-feature h4 
{
  font-size: 1.0em;
  margin-top: 0em;
  margin-bottom: 0em;
  white-space: nowrap;
  pointer-events: none;
}

.block-feature img 
{
  margin-top: 1.4em;
  width: 75%;
}

@media screen and (max-width: 768px)
{
  .hero-button-container {
    flex-direction: column;
  }

  .post-statistics {
    padding-right: 0;
  }

  .showcase-feature
  {
    width:100%;
  }

  .block-feature
  {
    width:100%;
  }
}
