---
permalink: js/bundle.js
---

{# Creates a single bundle.js file that contains the contents of all #}
{# includes below in the order they are listed #}
{% include "../../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}
{% include "./main.js" %}
